<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/addCategory.css">
    <title>Add Category</title>
</head>
<body>
     <header class="header">
        <div class="container">
            <nav>
                <div class="bodys">
                    <h1>Add Category</h1></div>
                    
                    <div>
                        <hr>
                       <form  action="/addCategory" method="post">
                        <label  style="font-weight: bolder;padding-left: 5vh;">Category Name</label>
                        <input type="text" name="name" placeholder="Category" class="categoryName" id="categoryId"><br><br>
                        <!-- <input type="file" name="name" placeholder="Category" class="categoryName" id="categoryId"><br><br> -->
                        <hr>
                      <a href=""><button class="add">Add Category</button></a> 
                    </form> 
                    </div>
                    
                
            </nav>
        </div>

     </header>
</body>
</html>
 